@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center homeCenter">
    @if (User.Identity.Name != null)
    {

    }
    else
    {
        <h4>Log into our service to see accidents</h4>
    }
</div>




